<br><br><br>

<div class="text-center" ng-show="vm.averageStars!==0">
	<span style="font-size:50px" ng-repeat="a in vm.range(vm.averageStars) track by $index" class="glyphicon glyphicon-star"></span>
	<span style="font-size:50px" ng-repeat="a in vm.range(5-vm.averageStars) track by $index" class="glyphicon glyphicon-star-empty"></span>
</div> <!-- stars -->


<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
<div class="jumbotron">
	<div class="row text-center">
		
		<div id="likeSwitcher" ng-hide="!vm.isLoggedIn()">
			<span ng-hide="vm.like == true" style="font-size:50px; color:gray;" class="btn glyphicon glyphicon-heart-empty" ng-click="vm.switchLike(true)"></span>
			<span ng-show="vm.like == true" style="font-size:50px; color:white;" class="btn glyphicon glyphicon-heart" ng-click="vm.switchLike(false)"></span>	
		</div> <!-- like switcher -->
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img ng-src="{{vm.food.link}}" class="img-responsive">
		</div>
		<div>
			<span style="color:gray">Created by</span>
			&nbsp&nbsp
			{{ vm.food.created_user | capitalize }}
		</div>
		<br>
	</div>
	<div class="well">{{ vm.food.description | capitalize }}</div>
</div>
</div>
</div>
</div> <!-- Basic information for food -->


<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
<div class="jumbotron">
	<h2>Ingredient</h2>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="ingredient in vm.food.ingredients">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="badge">{{$index+1}}</span>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
					<span>{{ ingredient.name }}</span>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="badge">{{ ingredient.gram }} g</span>
				</div>
			</div>
		</li>
	</ul>
	<br>
	<h2>Step</h2>
	<ul class="list-group" ng-repeat="step in vm.food.steps | orderBy: 'stepNumber'">
		<li class="list-group-item">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span class="badge">{{$index+1}}</span>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"><h5>{{ step.stepName }}</h5></div>
			</div>
		</li>
	</ul>
</div>
</div>
</div>
</div> <!-- Ingredient and steps -->

<br><br>



<div class="container" ng-show="vm.food.reviews.length == 0">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
	<h1 class="text-center">No Review</h1>
</div>
</div>
</div>

<div class="container" ng-show="vm.food.reviews.length !== 0">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
	<h1 class="text-center">Review</h1>
	<ul class="list-group" ng-repeat="review in vm.food.reviews">
		<li class="list-group-item">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					{{ review.username | capitalize }}
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
					{{ review.review }}
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
					<span class="badge pull-right">{{ review.stars | number: 1}} / 5.0</span>
					
				</div>
			</div>
		</li>
	</ul>
</div>
</div>
</div><!-- Reviews -->


<div ng-show="vm.food.created_user === vm.loggedInUser || !vm.isLoggedIn()">
	<hr>
	<br><br><br><br>
	<h3 class="text-center text-warning">Login To Make Comment</h3>
	
</div>


<div id="commentArea" ng-hide="vm.food.created_user === vm.loggedInUser || !vm.isLoggedIn()">
<hr>
<br>
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
	<form class="form-horizontal" 
			name="vm.myForm"
			ng-submit="vm.addReview()">
	<fieldset>
		<div class="form-group">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<input type="number" 
					class="form-control"  
					ng-model="vm.stars"
					name="stars"
					ng-min="1"
					ng-max="5"
					required 
					placeholder="stars (1~5)">
				<div ng-show="vm.myForm.stars.$invalid && vm.myForm.stars.$dirty && !vm.hasSummited" class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Oh snap!</strong>Please input 1 ~ 5
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<textarea class="form-control" 
					rows="3" 
					id="textArea" 
					style="margin-top: 0px; margin-bottom: 0px; height: 110px;"
					ng-model="vm.review"
					name="review"
					required
					placeholder="What do you think about this?">
				</textarea>
				<div ng-show="vm.myForm.review.$invalid && vm.myForm.review.$dirty && !vm.hasSummited" class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Oh snap! </strong>Please make a comment
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<button ng-class="vm.myForm.$valid? 'btn-success':'disabled'"
					class="btn btn-block" type="submit">Post Review</button>
			</div>
		</div>
	</fieldset>
	</form>		
</div>
</div>
</div>
</div> <!-- Comment Area -->

<br><br>