<nav class="navbar navbar-inverse navbar-fixed-bottom" ng-controller="LoginCtrl as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ng-class="vm.isActiveTab('/')"><a href="#/">Foods</a></li>
        <li ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('/foods/add')"><a href="#/foods/add">Add Food</a></li>
        <!-- <li><a href="#">Your Fav Food</a></li>  -->
      </ul>

      <ul ng-if="!vm.isLoggedIn()"
        class="nav navbar-nav navbar-right">
        <li ng-class="vm.isActiveTab('/signup')"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-class="vm.isActiveTab('/login')"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul ng-if="vm.isLoggedIn()"
        class="nav navbar-nav navbar-right">
        <!-- <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li> -->
        <li><a class="btn" ng-click="vm.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>