<style>
span.glyphicon-lg {
    font-size: 1.8em;
}
</style>
<nav class="navbar navbar-default navbar-fixed-bottom" ng-controller="LoginCtrl as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ng-class="vm.isActiveTab('/')"><a href="#/"><span class="glyphicon glyphicon-home glyphicon-lg"></span></a></li>
        <li ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('/foods/add')"><a href="#/foods/add"><span class="glyphicon glyphicon-plus glyphicon-lg"></span></a></li>
        <li ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('/collection')"><a href="#/collection"><span class="glyphicon glyphicon-heart glyphicon-lg"></span> </a></li>
        <li ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('/chat')"><a href="#/chat"><span class="glyphicon glyphicon-comment glyphicon-lg"></span></a></li>
      </ul>
      <ul ng-if="!vm.isLoggedIn()"
        class="nav navbar-nav navbar-right">
        <li ng-class="vm.isActiveTab('/signup')"><a href="#/signup"><span class="glyphicon glyphicon-user glyphicon-lg"></span> Sign Up</a></li>
        <li ng-class="vm.isActiveTab('/login')"><a href="#/login"><span class="glyphicon glyphicon-log-in glyphicon-lg"></span> Login</a></li>
      </ul>
      <ul ng-if="vm.isLoggedIn()"
        class="nav navbar-nav navbar-right">
        <li><a class="btn" ng-click="vm.logout()"><span class="glyphicon glyphicon-log-in glyphicon-lg"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>