
<br><br>
<h1 class="text-center">Login</h1><br>
<div ng-if="vm.error" class="alert alert-dismissible alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{{ vm.error }}</strong> 
</div>


<form class="form-horizontal" 
			name="vm.myForm" 
			ng-submit="vm.login()">
<fieldset>
	<div class="form-group">
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
			<input type="text" 
				required 
				class="form-control" 
				placeholder="Email"
				ng-model="vm.username">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
			<input type="password" 
				required 
				class="form-control"  
				ng-model="vm.password"
				placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
			<button class="btn btn-lg btn-block" 
				ng-class="vm.myForm.$valid?'btn-success':'disabled'"
				type="submit">Login</button>	
		</div>	
	</div>
	
	
</fieldset>
</form>	

<br><br><br>
<div class="row">
	<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
	<a href="#/signup" class="btn btn-lg btn-primary btn-block">signup</a>
	</div>
</div>
